{% extends "sentry/projects/manage.html" %}

{% load i18n %}
{% load sentry_helpers %}
{% load sentry_plugins %}

{% block title %}{% trans "Manage Team Access" %} | {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="divider">/</li>
    <li><a href="{% url sentry-manage-project-team project.slug %}">{% trans "Manage Team Access" %}</a></li>
{% endblock %}

{% block inner %}
    <div class="page-header">
        <h2>
            {% trans "Manage Team Access" %}
        </h2>
    </div>

    <div class="page-header">
        <h3>{% trans "Teams" %}</h3>
    </div>
    <p>The following teams are bound to this project:</p>
    <table class="table table-bordered table-striped">
        <colgroup>
            <col/>
            <col style="width:100px;">
        </colgroup>
        <thead>
            <tr>
                <th>{% trans "Team" %}</th>
                <th style="text-align:center">{% trans "Owner" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for team in team_list %}
                <tr>
                    <td><a href="{% url sentry-manage-team team.slug %}">{{ team.name }}</a></td>
                    <td style="text-align:center">
                        {% if team.owner %}
                            {{ team.owner.username }}
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="page-header">
        <h3>{% trans "Members" %}</h3>
    </div>
    <table class="table table-bordered table-striped">
        <colgroup>
            <col/>
        </colgroup>
        <thead>
            <tr>
                <th>{% trans "User" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for member, user in member_list %}
                <tr>
                    <td>
                        {{ user.username }} &mdash; {{ user.email }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if pending_member_list %}
        <div class="page-header">
            <h3>{% trans "Pending Members" %}</h3>
        </div>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col/>
            </colgroup>
            <thead>
                <tr>
                    <th>{% trans "User" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for email in pending_member_list %}
                    <tr>
                        <td>
                            {{ email }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
